@import '@styles/mixins';

.header {
  @include flex(row, nowrap, center, center, center);
  background: var(--white);
  gap: 1rem;
  grid-area: header;
  padding: 1rem;

  figure {
    @include image(1.5rem, auto, 0); 
  }
}
